body {

  margin: 0px auto;
  padding: 0px;
  background: url(Assets/background.png);
  font-family: 'Roboto Slab', serif;
font-size: 14px;
}
.card {
    perspective: 150rem;
    position: relative;
    height: 671px;
    width: 342px;
    margin: 175px 27px;
    box-shadow: none;
    background: none;
    font-family: 'Roboto Slab', serif;
  }
  
  .card-side {
    height: 35rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding:2rem;
    color: white
  }
  
  .card-side.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: url(Assets/pain.jpg);
  }
  
  .card-side.front {
    background-color: #0093E9;
    background-image: url(Assets/itachi.jpg);
  }
  
  .card:hover .card-side.front {
    transform: rotateY(180deg);
    
  }
  
  .card:hover .card-side.back {
    transform: rotateY(0deg);
    color: bisque;
  }
  /* .space{
    color: black;
  } */


  /*Card 2*/

  .card2 {
    perspective: 150rem;
    position: relative;
    height: 671px;
    width: 342px;
    margin: -845px 402px;
    box-shadow: none;
    background: none;
  }
  
  .card2-side2 {
    height: 35rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding:2rem;
    color: white
  }
  
  .card2-side2.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: url(Assets/sasuke.jpg);
  }
  
  .card2-side2.front {
    background-color: #0093E9;
    background-image: url(Assets/naruto.jpg);
  }
  
  .card2:hover .card2-side2.front {
    transform: rotateY(180deg);
  }
  
  .card2:hover .card2-side2.back {
    transform: rotateY(0deg);
    color: bisque;
  }

  /*Card 3*/
  .card3 {
    perspective: 150rem;
    position: relative;
    height: 671px;
    width: 342px;
    margin: 174px 781px;
    box-shadow: none;
    background: none;
  }
  
  .card3-side3 {
    height: 35rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding:2rem;
    color: white
  }
  
  .card3-side3.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: url(Assets/madara.jpg);

  }
  
  .card3-side3.front {
    background-color: #0093E9;
    background-image: url(Assets/kakashi.jpg);
  }
  
  .card3:hover .card3-side3.front {
    transform: rotateY(180deg);
  }
  
  .card3:hover .card3-side3.back {
    transform: rotateY(0deg);
    color: bisque;
  }
  

  /*Card 4*/

  .card4 {
    perspective: 150rem;
    position: relative;
    height: 671px;
    width: 342px;
    margin: -844px 1154px;
    box-shadow: none;
    background: none;
  }
  
  .card4-side4 {
    height: 35rem;
    border-radius: 15px;
    transition: all 0.8s ease;
    backface-visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    padding:2rem;
    color: white
  }
  
  .card4-side4.back {
    transform: rotateY(-180deg);
    background-color: #4158D0;
    background-image: url(Assets/gaara.jpg);
  }
  
  .card4-side4.front {
    background-color: #0093E9;
    background-image: url(Assets/obito.jpg);
  }
  
  .card4:hover .card4-side4.front {
    transform: rotateY(180deg);
  }
  
  .card4:hover .card4-side4.back {
    transform: rotateY(0deg);
    color: bisque;
  }
 

  